# Git
.git
.gitignore

# IDE
.idea
*.iml
.vscode
.project
.classpath
.settings

# Build
target/
!target/*.jar

# Logs
*.log

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
